@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){
    .hips-view {
      padding-top: 44px !important
      padding-bottom: 34px
    }
    .hips-view__header--fixed {
      padding-top 44px !important
      background #1F8CEB
    }
    .hips-view__footer {
      margin-bottom: 34px
    }
    .hips-popup--bottom {
      bottom 34px
    }
    .hips-overlay {
      bottom 34px
    }
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:3) {
    .hips-view {
      padding-top: 44px !important
      padding-bottom: 34px
    }
    .hips-view__header--fixed {
      padding-top 44px !important
      background #1F8CEB
    }
    .hips-view__footer {
      margin-bottom: 34px
    }
    .hips-popup--bottom {
      bottom 34px
    }
    .hips-overlay {
      bottom 34px
    }
}
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:2) {
    .hips-view {
      padding-top: 44px !important
      padding-bottom: 34px
    }
    .hips-view__header--fixed {
      padding-top 44px !important
    }
    .hips-view__footer {
      margin-bottom: 34px
    }
    .hips-popup--bottom {
      bottom 34px
    }
    .hips-overlay {
      bottom 34px
    }
}

@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
    .hips-view {
      padding-top: 8px !important
    }
    .hips-view__header--fixed {
      padding-top 8px !important
      background #fff !important
    }
}

@media (device-height:667px) and (-webkit-min-device-pixel-ratio:2){/*兼容iphone6，iphone7，iphone8s ：*/
    .hips-view {
      padding-top: 8px !important
    }
    .hips-view__header--fixed {
      padding-top 8px !important
      background #fff !important
    }
}
// 普通ios适配类
.hips-view-ios {
  padding-top: 20px;
}

.hips-ios-view__header {
  padding-top: 20px;
}
