$font-color = #1F8CEB
$font-color-rant = #F96F68
$font-color-label = #6D7A80
$font-color-value = #4A4A4A
$font-color-gray = #c9c9c9
$font-color-gray-light = #e5e5e5
$font-color-orange = #F5A800
$font-color-green = #24B85B
$font-color-white = #ffffff

$border-color-light = #EEE

$fontsize-large-xxxx = 30px
$fontsize-large-xxx = 24px
$fontsize-large-xx = 20px
$fontsize-large-x = 18px
$fontsize-large = 16px
$fontsize-medium = 14px
$fontsize-small = 12px
$fontsize-small-s = 10px

$active-color = #e8e8e8

$background-color-white = #fff
$background-color-light = #fafafa
